@import './cores';

.corpo {
    margin: 0;
    width: 100%;
    height: 100vh;

    .esquerda {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 200px 0 200px;

        h2 {
            font-size: 50px;
            font-weight: 600;
            margin-bottom: 50px;
        }

        .bloco {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            padding-bottom: 100px;

            .imagem{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            h4 {
                font-size: 40px;
                font-weight: 300;
                margin-bottom: 5px;

            }
        }

    }



}